@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer__container {
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  min-height: 297px;
  min-width: 1240px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer__container .footer__article {
  max-width: 328px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__container .footer__article:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.footer__container .footer__article-icon {
  margin-bottom: 25px;
}
.footer__container .footer__article-icon:hover {
  transform: scale(1.1);
}
.footer__container .footer__article-h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.footer__container .footer__article-p {
  font-size: 18px;
  color: #909090;
}
.footer__container .article1 {
  margin-left: 40px;
  padding-left: 40px;
}
.footer__container .article3 {
  margin-right: 40px;
  padding-right: 40px;
}

.header__container {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 46px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 148px;
}
.header__container .header__nav {
  width: 100%;
}
.header__container .header__nav .header__ul {
  list-style: none;
  display: flex;
  gap: 56px;
  align-items: center;
}
.header__container .header__nav .header__ul-contact {
  padding: 16.5px 24.5px;
  background-color: #515DEF;
  margin-left: auto;
  color: #FBFBFB;
  font-weight: 300;
}
.header__container .header__nav .header__ul-contact:hover {
  cursor: pointer;
  background-color: #333333;
  transform: scale(1.1);
}
.header__container .header__nav .header__ul-contact:active {
  cursor: pointer;
  background-color: #515DEF;
}
.header__container .header__nav .header__ul a {
  text-decoration: none;
  color: #FBFBFB;
  font-weight: 300;
}
.header__container .header__nav .header__ul a:hover {
  cursor: pointer;
  color: #333333;
  font-weight: 500;
}
.header__container .header__nav .header__ul a:active {
  cursor: pointer;
  color: #FBFBFB;
  font-weight: 300;
}
.header__container .header__logo {
  transition: 1.5s;
}
.header__container .header__logo:hover {
  transform: scale(1.2);
}

.main__container {
  margin-left: 160px;
  margin-bottom: 81px;
  margin-top: 80px;
  color: #FBFBFB;
  font-size: 24px;
}
.main__container .main__p-before {
  font-size: 24px;
  font-weight: 200;
}
.main__container .main__h1 {
  font-size: 64px;
  line-height: 80px;
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 600;
}
.main__container .main__p-after {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 54px;
}
.main__container .main__button {
  display: inline-flex;
  align-items: center;
  background-color: #FBFBFB;
  padding: 20px 21px;
}
.main__container .main__button-p {
  color: #333333;
  font-weight: 500;
}
.main__container .main__button:hover {
  color: #FBFBFB;
  cursor: pointer;
  transform: skewY(2deg);
}
.main__container .main__button:active {
  color: #333333;
  background-color: white;
}

body {
  background-image: url("../img/equipo@2x.jpg");
  background-position: right top;
  background-position-x: 1100px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  background-size: 840px;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #515DEF;
}/*# sourceMappingURL=style.css.map */