body{
    background-image: url("../img/equipo@2x.jpg");
    background-position: right top;
    background-position-x: 1100px;
    background-position-y:-40px;
    background-repeat: no-repeat;
    background-size: 840px;
}