.footer__container {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 297px;
    min-width: 1240px;
    position: fixed;
    bottom: 0;
    left: 0;

    .footer__article {
        max-width: 328px;
        padding-bottom: 60px;
        padding-top: 60px;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        &-icon {
            margin-bottom: 25px;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-h3 {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &-p {
            font-size: 18px;
            color: $grey;
        }
    }

    .article1 {
        margin-left: 40px;
        padding-left: 40px;
    }

    .article3 {
        margin-right: 40px;
        padding-right: 40px;
    }
}