.footer__container{
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 297px;
    min-width: 392px;
    position: fixed;
    bottom: 0;
    left: 0;
    .footer__article{
        max-width: 328px;
        &-icon{
            margin-bottom: 38px;
        }
        &-h3{
            font-size: 18px;
        }
        &-p{
            font-size: 18px;
            color: $grey;
        }
    }
    .article1{
        margin-left:80px;
    }
}